port/linux/client
port/linux/server
port/linux/temp_sensor
port/linux/simpleclient
port/linux/simpleserver
port/linux/server_collections_linux
port/linux/client_collections_linux
port/linux/client_block_linux
port/linux/server_block_linux
port/linux/smart_home_server_linux
port/linux/multi_device_client
port/linux/multi_device_server
port/linux/onboarding_tool
port/linux/libiotivity-constrained-client.*
port/linux/libiotivity-constrained-server.*
port/linux/libiotivity-constrained-client-server.*
port/linux/iotivity-constrained-server.pc
port/linux/iotivity-constrained-client.pc
port/linux/iotivity-constrained-client-server.pc
port/linux/tests/*
port/linux/obj/
port/linux/onboarding_tool_creds/
port/linux/smart_lock
port/windows/.vs/
port/windows/Debug/
port/windows/simpleserver_creds/
port/zephyr/outdir/
port/contiki/*.a
port/contiki/*.map
port/contiki/obj_native/
port/contiki/*.native
port/contiki/symbols.*
port/openthread/output
*.o
*.cmd
.clang-format
_clang-format
