debian/.debhelper/
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/iotivity-constrained*/
debian/tmp
port/linux/client
port/linux/server
port/linux/temp_sensor
port/linux/simpleclient
port/linux/simpleserver
port/linux/server_collections_linux
port/linux/client_collections_linux
port/linux/client_block_linux
port/linux/server_block_linux
port/linux/smart_home_server_linux
port/linux/multi_device_client
port/linux/multi_device_server
port/linux/onboarding_tool
port/linux/cloud_linux
port/linux/server_multithread_linux
port/linux/client_multithread_linux
port/linux/easysetup_linux
port/linux/easysetup_linux_creds/
port/linux/sc_easysetup_linux
port/linux/sc_easysetup_linux_creds/
port/linux/rpk_server
port/linux/rpk_server_creds/
port/linux/st_things
port/linux/st_things_creds/
port/linux/libiotivity-constrained-*
port/linux/libst-app-framework.*
port/linux/iotivity-constrained-server.pc
port/linux/iotivity-constrained-client.pc
port/linux/iotivity-constrained-client-server.pc
port/linux/tests/*
port/linux/obj/
port/linux/onboarding_tool_creds/
port/linux/smart_lock
port/windows/vs2015/.vs/
port/windows/vs2015/Debug/
port/windows/vs2015/Release/
port/windows/vs2015/simpleserver_creds/
port/windows/vs2015/*.VC.opendb
port/windows/vs2015/*.VC.db
port/windows/vs2015/*.vcxproj.user
port/zephyr/outdir/
port/contiki/*.a
port/contiki/*.map
port/contiki/obj_native/
port/contiki/*.native
port/contiki/symbols.*
port/openthread/output
*.o
*.cmd
*.tmp
*~
.clang-format
_clang-format
port/linux/platformtest
port/linux/apitest
port/linux/easysetuptest
port/linux/cloudaccesstest
port/linux/rdclienttest
port/linux/fotatest
port/linux/stapptest
port/linux/securitytest
port/linux/storage_test
port/linux/messagingtest
port/linux/securitytest_v2
prebuilt

#creds files
port/linux/client_creds
port/linux/server_creds
port/linux/temp_sensor_creds
port/linux/simpleclient_creds
port/linux/simpleserver_creds
port/linux/server_collections_linux_creds
port/linux/client_collections_linux_creds
port/linux/smart_home_server_linux_creds
port/linux/multi_device_client_creds
port/linux/multi_device_server_creds
port/linux/server_multithread_linux_creds
port/linux/client_multithread_linux_creds
port/linux/cloud_linux_creds
port/linux/stapptest_creds
port/linux/unittest_creds

#vscode setting files
.vscode

#coverage files
coverage_report
*.gcda
*.gcno