[submodule "deps/tinycbor"]
	path = deps/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/google/googletest.git
[submodule "deps/cjson"]
	path = deps/cjson
	url = https://github.com/DaveGamble/cJSON.git
