[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Gerrit Managers
	owner = group Resource Mantainers
	forgeAuthor = group Gerrit Managers
	forgeAuthor = group Resource Mantainers
	forgeCommitter = group Gerrit Managers
	read = group GitHub Replication
	viewDrafts = group Gerrit Managers
[access "refs/for/refs/*"]
	push = group Gerrit Managers
	push = group Gerrit Submitters
	push = group Resource Mantainers
	rebase = group Gerrit Managers
	rebase = group Gerrit Submitters
	rebase = group Resource Mantainers
	pushMerge = group Gerrit Managers
	pushMerge = group Gerrit Submitters
	pushMerge = group Resource Mantainers
[access "refs/heads/*"]
	pushTag = group Gerrit Managers
	pushTag = group Gerrit Submitters
	pushTag = group Non-Interactive Users
	label-Code-Review = -2..+2 group Resource Mantainers
	label-Code-Review = -1..+1 group Gerrit Submitters
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Gerrit Managers
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Resource Mantainers
	submit = group Gerrit Managers
	submit = group Resource Mantainers
[access "refs/tags/*"]
	push = group Gerrit Managers
	push = +force group Gerrit Submitters
	push = group Non-Interactive Users
	push = group Resource Mantainers
	pushTag = group Gerrit Managers
	pushTag = group Gerrit Submitters
	pushTag = group Non-Interactive Users
	pushTag = group Resource Mantainers
	create = group Gerrit Managers
	create = group Resource Mantainers
	pushSignedTag = group Gerrit Managers
	pushSignedTag = group Resource Mantainers
[project]
	description = IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things.
[submit]
	action = cherry pick
