[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Gerrit Managers
	owner = group Resource Maintainers - IoTivity Constrained
	forgeAuthor = group Gerrit Managers
	forgeAuthor = group Resource Maintainers - IoTivity Constrained
	forgeCommitter = group Gerrit Managers
	read = group GitHub Replication
	viewDrafts = group Gerrit Managers
[access "refs/for/refs/*"]
	push = group Gerrit Managers
	push = group Gerrit Submitters
	push = group Resource Maintainers - IoTivity Constrained
	rebase = group Gerrit Managers
	rebase = group Gerrit Submitters
	rebase = group Resource Maintainers - IoTivity Constrained
	pushMerge = group Gerrit Managers
	pushMerge = group Gerrit Submitters
	pushMerge = group Resource Maintainers - IoTivity Constrained
[access "refs/heads/*"]
	pushTag = group Gerrit Managers
	pushTag = group Gerrit Submitters
	pushTag = group Non-Interactive Users
	label-Code-Review = -2..+2 group Resource Maintainers - IoTivity Constrained
	label-Code-Review = -1..+1 group Gerrit Submitters
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Gerrit Managers
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Resource Maintainers - IoTivity Constrained
	submit = group Gerrit Managers
	submit = group Resource Maintainers - IoTivity Constrained
[access "refs/tags/*"]
	push = group Gerrit Managers
	push = +force group Gerrit Submitters
	push = group Non-Interactive Users
	push = group Resource Maintainers - IoTivity Constrained
	pushTag = group Gerrit Managers
	pushTag = group Gerrit Submitters
	pushTag = group Non-Interactive Users
	pushTag = group Resource Maintainers - IoTivity Constrained
	create = group Gerrit Managers
	create = group Resource Maintainers - IoTivity Constrained
	pushSignedTag = group Gerrit Managers
	pushSignedTag = group Resource Maintainers - IoTivity Constrained
[project]
	description = IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things.
[submit]
	action = cherry pick
[access "refs/heads/lynx"]
	owner = group IoTivity Constrained Contributors
	label-Code-Review = -2..+2 group IoTivity Constrained Contributors - Lynx Branch
	label-Verified = -1..+1 group IoTivity Constrained Contributors - Lynx Branch
	submit = group IoTivity Constrained Contributors - Lynx Branch
[access "refs/heads/swig"]
	owner = group IoTivity Constrained Contributors
	label-Code-Review = -2..+2 group ldap/iotivity-constrained-gerrit-swig-resource-maintainers
	label-Verified = -1..+1 group ldap/iotivity-constrained-gerrit-swig-resource-maintainers
	submit = group ldap/iotivity-constrained-gerrit-swig-resource-maintainers
