<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>IoT Demo</title>
    <link rel="stylesheet" href="include/page.css">
    <link rel="stylesheet" href="include/jquery-ui.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
	  <div class='wrapper'>
<header>
	<img src="include/images/cablelabs-logo.png"><h2>Streamlined Onboarding Demo</h2>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="include/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</header>
<section>
	<button type="button" onclick="discover_unowned()">Discover</button>
    <div id='device_container' class="message_holder"></div>


<style>
    .ui-progressbar-value {
      background: lightgreen;
    }
      .progress-label {
    position: absolute;
    top: 4px;
    font-weight: bold;
  }
</style>
    <script type="text/javascript">



	var socket = io.connect('http://' + document.domain +  ':' + location.port);
     socket.on( 'obt_initialized', function( msg ) {
        console.log( msg )
      })
	function discover_unowned(){
	alert("Unowned");
	socket.send("discover_unowned");
	}
    </script>
</section>
<footer>
  <p>Cablelabs/SCTE Demo</p>
</footer>
	  </div>
  </body>
  </html>
