<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>OCF Onboarding Tool</title>
    <link rel="stylesheet" href="include/page.css">
    <link rel="stylesheet" href="include/css/multi-select.css">
    <link rel="stylesheet" href="include/css/jquery.toast.min.css">
    <link rel="stylesheet" href="include/jquery-ui.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="include/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="include/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="include/favicon/favicon-16x16.png">
    <link rel="manifest" href="include/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
	<div id="connect_container" >
		<div id="connect_text">
		The connection to the server has been lost.	
		</div>
		<div id="connect_layer"></div>
	</div>
	  <div class='wrapper'>
<header>
	<img src="include/images/ocf-logo.png" >
	<div id="obt_uuid" class="uuid-text"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="include/jquery-ui.min.js"></script>
    <script src="include/javascript/jquery.multi-select.js"></script>
    <script src="include/javascript/jquery.toast.min.js"></script>
    <script src="include/javascript/ocf_resources.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="include/html5-qrcode.min.js"></script>
      <script>
/* Jquery Function*/
$(document).ready(function() {
  hideConnect();
  initialize_qr_scanner();
  $('#dpp_qrcod').val('');
  $('#menubar').menu();
  
  $('#menubar').menu({
    position: { my: 'left top', at: 'left bottom' },
    blur: function() {
      $(this).menu('option', 'position', { my: 'left top', at: 'left bottom' });
    },
    focus: function(e, ui) {
      if ($('#menubar').get(0) !== $(ui).get(0).item.parent().get(0)) {
        $(this).menu('option', 'position', { my: 'left top', at: 'right top' });
      }
    },
  });
});
var dialog;
      $( function(){
      /*QR Dialog*/
  dialog = $( "#qr-container" ).dialog({
      modal: true,
      autoOpen: false,
      maxWidth:600,
      maxHeight: 700,
      width: 600,
      height: 700,
      open: function() {
        $('.ui-widget-overlay').addClass('custom-overlay');
      },   
      buttons: {
        Close: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    //$( "#qr-button" ).button().on( "click", function() {
    //  dialog.dialog( "open" );
    //});
}); 
/*Help Dialog*/
var help_dialog;
      $( function(){
  help_dialog = $( "#help_container" ).dialog({
      modal: true,
      autoOpen: false,
      maxWidth:600,
      maxHeight: 700,
      width: 600,
      height: 700,
      open: function() {
        $('.ui-widget-overlay').addClass('custom-overlay');
      },   
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
}); 
/*About Dialog*/
var about_dialog;
      $( function(){
  about_dialog = $( "#about_container" ).dialog({
      modal: true,
      autoOpen: false,
      maxWidth:600,
      maxHeight: 700,
      width: 600,
      height: 700,
      open: function() {
        $('.ui-widget-overlay').addClass('custom-overlay');
      },   
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
}); 
/*Connected Dialog
var connect_dialog;
      $( function(){
  about_dialog = $( "#connect_container" ).dialog({
      modal: true,
      autoOpen: false,
      maxWidth:600,
      maxHeight: 700,
      width: 600,
      height: 700,
      open: function() {
        $('.ui-widget-overlay').addClass('custom-overlay');
      },   
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
});*/ 
/*====================End Jquery=======================*/



/*===================GLobals============================*/
      var imagePath = 'include/images/';
      var unowned_devices_stack = []; 
      var owned_devices_stack = []; 
      var owned_devices_dict = {}; 
      var unowned_delete_stack = [];
      var owned_delete_stack = [];
      var resources_array = [];
      var obt_uuid="";
      var diplomat;
      let devices = [];
      var html5QrcodeScanner;
      /*device object  {uuid:"uuid",name:"name",owned_state:"bool",oxms:oxm_array[],resources:resource_array[]*/
/*===================GLobals============================*/



/*===============nav callbacks=====================*/
function showQR()
{
	$("#qr-container").dialog("open");
}
function showHelp()
{
	$("#help_container").dialog("open");
}
function showAbout()
{
	$("#about_container").dialog("open");
}
function showConnect()
{
	//$("#connect_container").dialog("open");
	$("#connect_container").show();
}
function hideConnect()
{
	$("#connect_container").hide();
}
function openDeviceDialog(device)
{
	$("#device_dialog_"+device).dialog("open");
}
/*===============nav callbacks=====================*/



/*==============UI Helpers=========================*/
function showWait(parentId){
	var b = document.getElementById(parentId);
	var image = document.createElement("img");
	image.setAttribute('id',parentId+'_wait_image');
	image.setAttribute('src',imagePath+'loader.gif');
	b.append(image);
}
function hideWait(parentId){
	try{
		var d = document.getElementById(parentId+'_wait_image');
		d.remove();
	}catch{
	}
}
function toggle_qr(){
  var qr = document.getElementById("qr-container");
  var qr_button = document.getElementById("qr-button");
  if (qr.style.display === "none") {
    qr.style.display = "block";
    qr_button.innerHTML = "Hide QR Scanner";	  
  } else {
    qr.style.display = "none";
    qr_button.innerHTML = "Show QR Scanner";	  
  }
}
/*==============UI Helpers=========================*/



/*=============Format Helpers=====================*/
function capitalize(s)
{
    return s[0].toUpperCase() + s.slice(1);
}

function formatUUID(s)
{
	var sarray = s.split("-");
	var ret = sarray[0]+"-"+sarray[1]+"-"+sarray[2]+"<br>"+sarray[3]+"-"+sarray[4];
	return ret;
}
/*=============Format Helpers=====================*/



/*=============QR and DPP=========================*/

function initialize_qr_scanner()
{
	var results = document.getElementById('dpp_qrcode');
	results.value="";

	html5QrcodeScanner = new Html5QrcodeScanner(
	    "qr-reader", { fps: 10, qrbox: 250 });
	html5QrcodeScanner.render(onScanSuccess);

	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var content = this.nextElementSibling;
	    if (content.style.maxHeight){
	      content.style.maxHeight = null;
	    } else {
	      content.style.maxHeight = content.scrollHeight + "px";
	    } 
	  });
	}
}

function reset_qr_scanner(){
	html5QrcodeScanner.render(onScanSuccess);
}


function submit_dpp()
{
	dpp = $("#dpp_qrcode").val();
	$.ajax({
	type: "POST",
	contentType: 'application/json',
	url: "https://"+document.domain+":"+location.port+"/dpp",
	data: dpp,
	});
	console.log("submit dpp",dpp);
	/*hide the QR DIV*/
        $("#qr-container").dialog( "close" );

}
/*Make sure SO checkbox is unchecked*/
$("#switch_so").prop("checked",false);

var lastResult, countResults = 0;
function onScanSuccess(decodedText, decodedResult) {
     html5QrcodeScanner.clear();
    if (decodedText !== lastResult) {
        ++countResults;
        lastResult = decodedText;
        // Handle on success condition with the decoded message.
        console.log(`Scan result ${decodedText}`, decodedResult);
	var results = document.getElementById('dpp_qrcode');
	results.value=decodedText;
	//$('#qr-reader-results-container').show();
    }
}
/*=============QR and DPP=========================*/


/*=============Form Checks=========================*/
//Access Control Checks
function access_control_check(element,uuid){
	var error = 0;
	//Check that the resource selector is not blank
	if(!$("#access_control_resource_selector_"+uuid).val()){
			error=1;
	}
	//Check permissions We need at least one 
	var crudn = [];
	$("input:checkbox[name=access_control_permissions_check_"+uuid+"]:checked").each(function() {
	  crudn.push($(this).val());
	});
	if(!crudn.length){
		error=1;
	}
	//Check the subjects we need at least one 
	var subject_devices = $("#access_control_device_selector_"+uuid).val();
	if(!subject_devices.length){
		error =1;
	}
	//If we have no error enable the button
	if(error==0){
		$("#access_control_button_"+uuid).prop('disabled',false);
		$("#access_control_button_"+uuid).button("refresh");
	}else{
		$("#access_control_button_"+uuid).prop('disabled',true);
		$("#access_control_button_"+uuid).button("refresh");
	}
}

//Credentials Check
function credentials_check(element,uuid){
	var error = 0;
	//Check that the credential selector is not blank
	if(!$("#credential_selector_"+uuid).val()){
			error=1;
	}
	//Check the subjects we need at least one 
	var subject_devices = $("#credential_device_selector_"+uuid).val();
	if(!subject_devices.length){
		error =1;
	}
	//If we have no error enable the button
	if(error==0){
		$("#cred_button_"+uuid).prop('disabled',false);
		$("#cred_button_"+uuid).button("refresh");
	}else{
		$("#cred_button_"+uuid).prop('disabled',true);
		$("#cred_button_"+uuid).button("refresh");
	}
}




/*=============Form Checks=========================*/

  </script>
</header>
<section>
	<div class='controls' id='controls'>
<ul id="menubar">
  <li><div id="button_discover" onclick="discover_devices()">Discover Devices</div></li>
  <li> <div id="qr-button" onclick="showQR()" title="QR Scan">QR Scanner</div> </li>
  <li><div onclick="showHelp()">Help</div></li>
  <li><div onclick="showAbout()">About</div></li>
</ul >
	</div>
        <div id="qr-container">
		<div id="qr-reader" style="width:500px"></div>
		<div id="qr-reader-results-container" style=''>
			Or Copy and Past DPP String:
			<form id="qr-reader-results">
				<textarea  id="dpp_qrcode"i cols="55", rows="3">
				</textarea>
			</form>
			<button class="ui-button ui-widget ui-corner-all" style="float:right" onClick="submit_dpp()">Onboard</button>
			<button class="ui-button ui-widget ui-corner-all" style="float:right" onClick="reset_qr_scanner()">Rescan</button>
		</div>
	</div>
	<div id="help_container" title="Help"></div>
	<div id="about_container" title="About">
		Icons from:
		https://icons8.com/license
	
	</div>
<button type="button" class="collapsible">Unowned Devices</button>
  <div class="content" id="unowned_devices" style="max-height:100%">
  </div>
<button type="button" class="collapsible">Owned Devices</button>
  <div class="content" id="owned_devices" style="max-height:100%">
  </div>
    

  
<script>




    </script>


    <div id='device_container' class="message_holder"></div>


<style>
    .ui-progressbar-value {
      background: lightgreen;
    }
      .progress-label {
    position: absolute;
    top: 4px;
    font-weight: bold;
  }
</style>
    <script type="text/javascript">
      var imagePath = 'include/images/';
      //function buildDevice(uuid, ownedState,name){
      function buildDevice(device){
	    var uuid = device.uuid;
	    var ownedState = device.owned_state;
	    var name = device.name
	    console.log(device);
	    if (ownedState == false){
		var card = document.createElement("div");
			card.setAttribute('id',uuid);
			card.setAttribute('class','w3-card-4 w3-grey w3-round');
			card.setAttribute('style','width:220px;padding:5px;float:left;min-height:200px;margin:5px;display:none');
		    var label = document.createElement("header");
			    label.setAttribute('class','w3-container  w3-round device-label');
			    label.setAttribute('id','label_'+uuid);
		    	    var name_label = document.createElement("div");
		    	    name_label.setAttribute('id','name_label_'+uuid);
			    name_label.setAttribute('class','name-label');
		    	    name_label.innerHTML = name;
		    	    var uuid_label = document.createElement("div");
		    	    uuid_label.setAttribute('id','uuid_label_'+uuid);
			    uuid_label.setAttribute('class','uuid-label');
		            var formatted_uuid = formatUUID(uuid);
		    	    uuid_label.innerHTML = formatted_uuid;
		    	    if(name){
				    label.append(name_label);
			    	    uuid_label.setAttribute('style','font-size:8px');
				    label.append(uuid_label);
			    }else
			    {	
			    	    uuid_label.setAttribute('style','font-size:12px');
				    label.append(uuid_label);
			    }
		    var imageContainer = document.createElement("div");
			    imageContainer.setAttribute('class','w3-container w3-round image-container');
			    imageContainer.setAttribute('id','image_container_'+uuid);
			    var image = document.createElement("img");
				    image.setAttribute('id','image_'+uuid);
				    image.setAttribute('src',imagePath+'ocf.png');
				    image.setAttribute('style','width:100%;margin:5px');
	      		   imageContainer.append(image);

		    var statusContainer = document.createElement("div");
			    statusContainer.setAttribute('class','w3-container w3-white');
			    statusContainer.setAttribute('style','margin:2px;font-size:12px;padding:2px;width:98%;position:absolute;left:0;bottom:0;opacity:0.6');
			    statusContainer.setAttribute('id','status_container_'+uuid);
	      		    var button = document.createElement("div");
				button.setAttribute('id','statusbutton_'+uuid);
				button.setAttribute('onclick','onboardDevice("'+uuid+'")');
				button.setAttribute('class','w3-button w3-green w3-round-large');
				button.innerHTML = "+";
				button.setAttribute('style','margin:2px;float:right;font-size:20px;opacity:1');
	      		    statusContainer.append(button);
		   imageContainer.append(statusContainer);
	      card.append(label);
	      card.append(imageContainer);
	      }//////////End Unowned State
	      else{
		var card = document.createElement("div");
			card.setAttribute('id',uuid);
			card.setAttribute('class','w3-card-4 w3-grey w3-round');
			card.setAttribute('style','width:220px;padding:5px;float:left;min-height:200px;margin:5px;display:none');
		    var label = document.createElement("header");
			    label.setAttribute('class','w3-container w3-round device-label');
			    label.setAttribute('id','label_'+uuid);
		    	    var name_label = document.createElement("div");
		    	    name_label.setAttribute('id','name_label_'+uuid);
			    name_label.setAttribute('class','name-label');
		    	    name_label.innerHTML = name;
		    	    var uuid_label = document.createElement("div");
		    	    uuid_label.setAttribute('id','uuid_label_'+uuid);
			    uuid_label.setAttribute('class','uuid-label');
		            var formatted_uuid = formatUUID(uuid);
		    	    uuid_label.innerHTML = formatted_uuid;
		    	    if(name){
				    label.append(name_label);
			    	    uuid_label.setAttribute('style','font-size:8px');
				    label.append(uuid_label);
			    }else
			    {	
				    label.append(uuid_label);
			    }
		    var imageContainer = document.createElement("div");
			    imageContainer.setAttribute('class','w3-container w3-round image-container');
			    imageContainer.setAttribute('id','image_container_'+uuid);
			    var image = document.createElement("img");
				    image.setAttribute('id','image_'+uuid);
				    image.setAttribute('src',imagePath+'ocf.png');
				    image.setAttribute('style','width:100%;margin:5px;');
		      		    image.setAttribute('onclick','openDeviceDialog("'+uuid+'")');
	      		   imageContainer.append(image);

		    var statusContainer = document.createElement("div");
			    statusContainer.setAttribute('class','w3-container w3-white');
			    statusContainer.setAttribute('style','margin:2px;font-size:12px;padding:2px;width:98%;position:absolute;left:0;bottom:0;opacity:0.6');
			    statusContainer.setAttribute('id','status_container_'+uuid)
			    var statusTxt = document.createElement("div");
				statusTxt.setAttribute('id','statusTxt_'+uuid);
				statusTxt.setAttribute('style','margin:5px;float:left');
				      //statusTxt.innerHTML = "<b>"+capitalize(ownedState) +"<br> Device</b>";
			    statusContainer.append(statusTxt);
	      		    var button = document.createElement("div");
				button.setAttribute('id','statusbutton_'+uuid);
				button.setAttribute('onclick','offboardDevice("'+uuid+'")');
				button.setAttribute('class','w3-button w3-red w3-round-large');
				button.innerHTML = "X";
				button.setAttribute('style','margin:2px;float:right;font-size:20px;opacity:1');
	      		    statusContainer.append(button);
		   imageContainer.append(statusContainer);
		      /*This defines a dialog for owned devices opens on click of image*/
		      var device_title="";
		      if (name)
		      {
			device_title = name+" " + uuid;
		      }
		      else
		      {
			device_title = uuid;
		      }
		      $('<div id="device_dialog_'+uuid+'"></div>').dialog({
				modal: true,
				title: device_title,
			      autoOpen: false,
			      maxWidth:600,
			      maxHeight: 700,
			      width: 600,
			      height: 700,
			      create: function() {
				  /*These are the tabs on the dialog*/
				  var device_tabs = $(`<div id="device_tabs_`+uuid+`">
					  <ul>
					    <li><a href="#client"+uuid>Client</a></li>
					    <li><a href="#credentials"+uuid>Credentials</a></li>
					    <li><a href="#access_control"+uuid>Access Control</a></li>
					    <li><a href="#resources"+uuid>Resources</a></li>
					  </ul>
					  <div id="client">
						  <div id="client_`+uuid+`">
						  </div>
					  </div>
					  <div id="credentials">
					    <p>Credential Type:
						<select id='credential_selector_`+uuid+`' onchange='credentials_check(this,"`+uuid+`")'>
					  		<option disabled selected> Choose a credential type</option>
					  		<option value='pairwise'>Pairwise</option>
					  		<option value='role'>Role</option>
					  	</select>
					    </p>
					    <p id='cred_`+uuid+`'>
					    	<select id='credential_device_selector_`+uuid+`' multiple='multiple' onchange='credentials_check(this,"`+uuid+`")'>
						</select>
					    </p>
					  </div>
					  <div id="access_control">
					    <p> Resource
						  <select id='access_control_resource_selector_`+uuid+`' onchange='access_control_check(this,"`+uuid+`")'>
					          	<option disabled selected> Choose a resource</option> 
					  	  </select>
					    </p>
					    <p>
					  	<fieldset id='access_control_permissions_`+uuid+`'>

							  <input type='checkbox' checked  id='access_control_permissions_create_`+uuid+`'
							  	name='access_control_permissions_check_`+uuid+`'
								value='create' onchange='access_control_check(this,"`+uuid+`")'>
								Create
							  </input>
							  <input type='checkbox' checked  id='access_control_permissions_retrieve_`+uuid+`'
							  	name='access_control_permissions_check_`+uuid+`' 
								value='retrieve' onchange='access_control_check(this,"`+uuid+`")'>
								Retrieve
							  </input>
							  <input type='checkbox' checked  id='access_control_permissions_update_`+uuid+`'
							  	name='access_control_permissions_check_`+uuid+`' 
								value='update' onchange='access_control_check(this,"`+uuid+`")'>
								Update
							  </input>
							  <input type='checkbox' checked  id='access_control_permissions_delete_`+uuid+`'
								  name='access_control_permissions_check_`+uuid+`' 
								  value='delete' onchange='access_control_check(this,"`+uuid+`")'>
								  Delete
							  </input>
							  <input type='checkbox' checked  id='access_control_permissions_notify_`+uuid+`'
								  name='access_control_permissions_check_`+uuid+`' 
								  value='notify' onchange='access_control_check(this,"`+uuid+`")'>
								  Notify
							  </input>

					  	</fieldset>
					    </p>
					    <p id='access_control_device_`+uuid+`'>
					    	<select id='access_control_device_selector_`+uuid+`' multiple='multiple' onchange='access_control_check(this,"`+uuid+`")'>
						</select>
					    </p>
					    <p id='access_control_`+uuid+`'>
					    </p>
					  </div>
					  <div id="resources">
					  <p id='resources_`+uuid+`'></p>
					    <p></p>
					  </div>
					</div>`).tabs();
				      device_tabs.css({'min-heght':'400px','overflow':'auto'}); 
				      $(this).append(device_tabs);
				      $('#credential_device_selector_'+uuid).multiSelect({  
					      selectableHeader: "<div class='custom-header'>Available Devices</div>",
					      selectionHeader: "<div class='custom-header'>Selected Devices</div>",
				      });
				      $('#access_control_device_selector_'+uuid).multiSelect({  
					      selectableHeader: "<div class='custom-header'>Available Devices</div>",
					      selectionHeader: "<div class='custom-header'>Subject Devices</div>",
				      });
				      $('#access_control_device_selector_'+uuid).multiSelect('addOption', { value: obt_uuid, text: "OBT: "+obt_uuid });
				      		/*Credential Button*/
					    var cred_button_container = document.createElement("div");
						cred_button_container.setAttribute('id','cred_button_container_'+uuid);
						cred_button_container.setAttribute('style','margin:2px;float:right;font-size:20px;opacity:1');
				      		var cred_button = $('<button/>',
							{
								text:"Add Credential",
								disabled:true,
								click:function(){addCredentials(uuid);},
								id:"cred_button_"+uuid
							});
						$('#cred_'+uuid).append(cred_button_container);
				      		cred_button.button();
				      		$('#cred_button_container_'+uuid).append(cred_button);
				      		
				      		/*Access Control Button*/
					    var access_control_button_container = document.createElement("div");
						access_control_button_container.setAttribute('id','access_control_button_container_'+uuid);
						access_control_button_container.setAttribute('style','margin:2px;float:right;font-size:20px;opacity:1');
				      		var access_control_button = $('<button/>',
							{
								text:"Add ACE",
								disabled:true,
								click:function(){addACE(uuid);},
								id:"access_control_button_"+uuid
							});
						$('#access_control_'+uuid).append(access_control_button_container);
				      		access_control_button.button();
				      		$('#access_control_button_container_'+uuid).append(access_control_button);

				      	/*Fill resources Tab*/
				        
			      },   
			      open: function() {
				/*Make background dark.  See page.css*/
				$('.ui-widget-overlay').addClass('custom-overlay');
			      },
				buttons: {
				  Close: function() {
				    $( this ).dialog( "close" );
				  }
				}
			      });  //end confirm dialog

	      card.append(label);
	      card.append(imageContainer);
	      }///////////////End Owned State
	      return card;
      }

	

      function addDevice(parentId, device) {
	    // Adds an element to the document
	    var p = document.getElementById(parentId);
	    p.append(device);
	    $(device).show("bounce",{times:2,distance:10},900);
	}

	function removeDevice(uuid) {
	    // Removes an element from the document
	    //try{
		    var element = document.getElementById(uuid);
		    //element.hide("bounce",{times:2,distance:10},900);
		    //$('#'+uuid).hide("puff").delay(10).queue(function(){$(this).remove();});
		$('#'+uuid).hide("drop",{direction:"down"}).delay(10).queue(function(){$(this).remove();});
	    //}catch{
		//pass
	    //}
	}

	/*Device image based oic resource types*/
	function updateDeviceImage(device){
	 	var device_types = get_device_types(device);	
			for(type_index in device_types){
				device_type = device_types[type_index];
				if (images.includes(device_type)){
					var device_image =imagePath+device_type+".png";
					$("#image_"+device.uuid).attr("src",device_image);
				}
			}

	}

	/*Update Select on device for DOXM types*/
	function updateDeviceDOXMSelect(uuid){
		console.log("doxm select" +uuid);
		var statusContainer = $("#status_container_"+uuid);
	        var doxmSelector = document.createElement("select");
	        doxmSelector.setAttribute('id','doxm_selector_'+uuid);
	        doxmSelector.setAttribute('name','doxm_selector_'+uuid);
		doxmSelector.setAttribute('style','margin:5px');
		doxmDictionary = {
			'justworks': 'Just Works',
			'randompin': 'Random PIN',
			'mfgcert': 'Mfgr. Cert.'
		}
		$.each(doxmDictionary, function(val,text){
			console.log(text);
			  var option = document.createElement("option");
			  option.text = text;
			  option.value = val;
			  doxmSelector.add(option);
		});
	        statusContainer.append(doxmSelector);
	}

	/*Turn on SO...Obeserve DPP*/
	function observe_diplomat(obj){
		observer_state = obj.checked;
		console.log("Discover Diplomat");
		socket.emit("discover_diplomats",observer_state);
		console.log("SO State: "+observer_state);
		socket.emit("set_diplomat_observe",observer_state);
	}

	/*Handle command from basic client*/
	function send_command(obj,type,cmd,resource){
		var obj_array = obj.id.split('_');
		uuid = obj_array[1];
		state = obj.checked
		if (state==true){
			state=1;
		}else{
			state=0;
		}
		console.log(uuid,state,type,resource);
		socket.emit("send_command",uuid,type,cmd,resource,state);
	}


	/*Socket setup*/
	//var socket = io.connect('http://' + document.domain +  ':' + location.port);
	/*Secure Socket*/
	var socket = io.connect('https://' + document.domain +  ':' + location.port);
	socket.emit("get_obt_uuid");

/*===============Handle Connect/Disconnect==========*/
  socket.on('disconnect', function(){
	console.log("Disonnected"); 
	showConnect();
	//alert("Disconnected");
  });
  socket.on('connect', function(){
	console.log("Connected"); 
	hideConnect();
	//alert("Connected");
  });


     socket.on('obt_uuid',function(obj){
	     var obt = JSON.parse(obj);
	     obt_uuid = obt['uuid'];
	     $("#obt_uuid").html("OBT UUID: "+obt_uuid);
      })





    /*============Diplomat Callbacks==============
	*        Handles callbacks for diplomat 
    =============================================*/
    socket.on('discover_diplomats',function( msg) {
		diplomat = JSON.parse(msg);
	        var ace_error = 6;
		console.log("Diplomat:\n",diplomat);
		if (diplomat.owned_state == "unowned"){
			var error_text = "Please Own the Diplomat"
			/*Make sure SO checkbox is unchecked*/
			$("#switch_so").prop("checked",false);
			$.toast({
			    heading: 'Error',
			    text: error_text,
			    showHideTransition: 'fade',
			    position: 'top-center',
			    icon: 'error'
			});
		}
	        if(diplomat.last_event !== null){
			console.log("Diplomat:\n",diplomat.last_event);
			if (diplomat.last_event[0] == "observe_fail"){
				if(diplomat.last_event[1] == ace_error){
					/*Make sure SO checkbox is unchecked*/
					var error_text = "Diplomat needs the correct ACE"
					$("#switch_so").prop("checked",false);
					$.toast({
					    heading: 'Error',
					    text: error_text,
					    showHideTransition: 'fade',
					    position: 'top-center',
					    icon: 'error'
					});
				}
			}
		}
	})

	/*Return of stremalined onboarding*/
	socket.on('diplomat_state', function(msg) {
		so_event = JSON.parse(msg);
		console.log(so_event);
		discover_devices();


	})



	/*Return of All discovered devices*/
     socket.on( 'device_discovery', function( msg ) {
	var discovery = JSON.parse(msg);
	console.log("Discovery: "+discovery);
	for (var key in discovery) {
	    if (discovery.hasOwnProperty(key)) {
		var name = discovery[key].name;
		var uuid = discovery[key].uuid;
		    /*Owned Devices*/
		    if (discovery[key].owned_state){
			    if (!devices.filter(function(e) { return e.uuid === discovery[key].uuid; }).length > 0) {
				    /*new device add to array*/
				    devices.push(discovery[key]);
				    owned_devices_stack.push(discovery[key].uuid);
				    newDevice = buildDevice(discovery[key]);
				    addDevice('owned_devices',newDevice);
			    }
		    }else //Unowned devices
		    {
			    if (!devices.filter(function(e) { return e.uuid === discovery[key].uuid; }).length > 0) {
				    /*new device add to array*/
				    devices.push(discovery[key]);
				    unowned_devices_stack.push(discovery[key].uuid);
				    newDevice = buildDevice(discovery[key]);
				    addDevice('unowned_devices',newDevice);
				    updateDeviceDOXMSelect(discovery[key].uuid);
			    }
		    }
	       console.log(devices);
	       update_ui_devices();
	    }
	}
	     if (discovery.length == 0){
		  hideWait('button_discover');
	     }
      })
     
	socket.on( 'random_pin_request_return', function( msg ) {
		var rdp_return = JSON.parse(msg);
		console.log("Random PIN Return\n", rdp_return);
		var uuid = rdp_return.uuid;
		if (rdp_return.last_event == "random_pin_request"){
			var pin_entry_container = document.createElement("div");
			pin_entry_container.setAttribute('id',"pin_entry_container"+uuid);
		        pin_entry_container.setAttribute('style','margin:1px 2px 2px 2px;font-size:12px;background-color:#000;color:white;padding:7px;width:98%;position:absolute;left:0;top:60px;opacity:0.6');
			pin_entry_input = document.createElement("input");
			pin_entry_input.setAttribute('type','text');
			pin_entry_input.setAttribute('id','pin_entry_input_'+uuid);
			pin_entry_input_label = document.createElement("span");
			pin_entry_input_label.setAttribute('id','pin_entry_input_label_'+uuid);
			pin_entry_input_label.innerHTML = "Enter PIN: <br>";
			pin_entry_container.append(pin_entry_input_label);
			pin_entry_container.append(pin_entry_input);
			$("#image_container_"+uuid).append(pin_entry_container);
			console.log("Success");
		}else if (rdp_return.last_event == "random_pin_request_error"){
			var error_text = "Please check device supports Random PIN"
			$.toast({
			    heading: 'Error',
			    text: error_text,
			    showHideTransition: 'fade',
			    position: 'top-center',
			    icon: 'error'
			});
			console.log("Fail");
		}
	})


	socket.on( 'resource_discovery', function( msg ) {
		var resources = JSON.parse(msg);
		for (var uuid in resources){
			console.log(uuid);
			var device = devices.find(x => x.uuid === uuid);
			var resource_html ="";
			for (var i=0; i<resources[uuid].length;i++){
				/*Add resources to device in devices array*/
				device.resources=resources[uuid];
				/*Fill Resource Selector in Access Control Tab*/
				$("#access_control_resource_selector_"+uuid).append(new Option(resources[uuid][i].uri,resources[uuid][i].uri));
				/*Fill Resources Tab*/
			        resource_html = resource_html+"<p>"+resources[uuid][i].uri+"</p>";
				$("#resources_"+uuid).html(resource_html);

			}
			/*Remove device, then add it back with new properties*/
			devices = devices.filter(function( device ) {
				return device.uuid !== uuid;
			});
			devices.push(device)
			console.log("Post Resource Device Array", devices);
			updateDeviceImage(device);
			//console.log(return_client_controls(device));
			/*update client controls for owned devices*/
			if (device.owned_state){
				$("#client_"+uuid).html(return_client_controls(device));
			}
		}
	  hideWait('button_discover');
	})

	/*Loops through selected devices in credential selector
	sends these uuids and the source uuid to webserver/obt*/
	function addCredentials(source_device)
	{
		var values = $("#credential_device_selector_"+source_device).val();
		console.log("Provisioning Credentials\n"+values);
		var credentials = new Object();
		credentials.source_device = source_device;
		credentials.type = "pairwise";
		credentials.target_devices = values;
		socket.emit("provision_credentials",JSON.stringify(credentials));
	}
	
	/*Loops through selected devices in permissions credential selector
	sends these uuids and the source uuid to webserver/obt*/
	function addACE(target_device)
	{
		var crudn = [];
		$("input:checkbox[name=access_control_permissions_check_"+target_device+"]:checked").each(function() {
		  crudn.push($(this).val());
		});
		var subject_devices = $("#access_control_device_selector_"+target_device).val();
		var href = $("#access_control_resource_selector_"+target_device).val();
		console.log("Provisioning ACE\n"+"Target: "+target_device+" Subjects: "+subject_devices );
		console.log("href: "+href+" CRUDN: "+crudn);
		var ace = new Object();
		ace.target_device = target_device;
		ace.subjects = subject_devices;
		ace.crudn = crudn;
		ace.href = href;
		socket.emit("provision_ace",JSON.stringify(ace));
	}

	function update_ui_devices(){
		for (var d=0;d<unowned_delete_stack.length;d++){
			console.log("Remove device\n "+ unowned_delete_stack[d]);
			removeDevice(unowned_delete_stack[d]);
			/*Update Devices array and remove onboarded device*/
			devices = devices.filter(function( device ) {
				return device.uuid !== unowned_delete_stack[d];
			});
		}
		for (var d=0;d<owned_delete_stack.length;d++){
			console.log("Remove device\n "+ owned_delete_stack[d]);
			removeDevice(owned_delete_stack[d]);
			/*Update Devices array and remove offboarded device*/
			devices = devices.filter(function( device ) {
				return device.uuid !== owned_delete_stack[d];
			});
		}
		console.log("Devices Array\n");
		console.log(devices);
	    	/*Update Access Control Tab*/
	        if(owned_devices_stack.length >1){
	        	for (var index =0; index<owned_devices_stack.length;index++)
		      	{
			      var current_uuid = owned_devices_stack[index];
			      for (var index2 =0; index2<owned_devices_stack.length;index2++)
	    		      {
				      var other_uuid = owned_devices_stack[index2];
	    			      if (current_uuid != other_uuid)
	    				{
					     var device = devices.filter(dev => dev.uuid == other_uuid);
					      //makes sure we have a valid device
						if (!device.length){
							continue;
						}
						console.log("Dev Name: ",device);
					      $('#access_control_device_selector_'+current_uuid).multiSelect('addOption', { value: other_uuid, text: device[0].name+": "+other_uuid });
					      $('#credential_device_selector_'+current_uuid).multiSelect('addOption', { value: other_uuid, text: device[0].name+": "+other_uuid });
	    				}
	    		       }
	        	}
	    	}
	}

	function discoverResources(uuid){
		console.log("Discover Resources:\n"+uuid);
		socket.emit("discover_resources",uuid);
        }

	/*Button callbacks*/

	function onboardDevice(uuid){
		//Handle Extra call for Random PIN
		otm = $("#doxm_selector_"+uuid).val();
		var otm_device = new Object();
		otm_device.uuid = uuid;
		otm_device.otm = otm;
		if (otm == "randompin"){
		    /* Check to see if pin input exists */
		    var pin_input = document.getElementById("pin_entry_input_"+uuid);
	            if (pin_input){
			    /*Check if Random PIN input filled*/
			if(pin_input.value){
				console.log("Perform Ownership of UUID:\n"+uuid);
				otm_device.random_pin = pin_input.value
				showWait('statusbutton_'+uuid);
				//keep track of owned uuid for later deletion from unowned 
				unowned_delete_stack.push(uuid); 
				socket.emit("onboard_device",JSON.stringify(otm_device));
				discover_devices();
			}else{
				var error_text = "Please enter a Random PIN"
				$.toast({
				    heading: 'Error',
				    text: error_text,
				    showHideTransition: 'fade',
				    position: 'top-center',
				    icon: 'error'
				});
			}
		    }else{
			    console.log("Random Pin Selected");
			    socket.emit("request_random_pin",JSON.stringify(otm_device));
		    }
		}else{
			console.log("Perform Ownership of UUID:\n"+uuid);
			showWait('statusbutton_'+uuid);
			//keep track of owned uuid for later deletion from unowned 
			unowned_delete_stack.push(uuid); 
			socket.emit("onboard_device",JSON.stringify(otm_device));
			discover_devices();
		}
	}
	
	function offboardDevice(uuid){
		console.log("Perform Reset of UUID:\n"+uuid);
		//keep track of owned uuid for later deletion from owned 
		owned_delete_stack.push(uuid); 
		showWait('statusbutton_'+uuid);
		socket.emit("offboard_device",uuid);
		discover_devices();
	}


	function discover_owned(){
		console.log( 'Get owned Devices' )
		socket.emit("discover_owned","data");
	}

	function discover_unowned(){
		console.log( 'Get Unowned Devices' )
		socket.emit("discover_unowned","data");
	}
	function discover_devices(){
		console.log( 'Discover  Devices' )
		showWait('button_discover');
		socket.emit("discover_devices","data");
	}

	// This is for testing UI
	//newDevice = buildDevice('bf5a6a4f-e94d-4df6-61ed-0178af45b135',"unowned");
	//addDevice('unowned_devices',newDevice);

	//newDevice = buildDevice('bf5a6a4f-e94d-4df6-61ed-0178af45b136',"owned");
	//addDevice('owned_devices',newDevice);



    </script>
</section>
<footer>
  <p>Cablelabs/SCTE Demo</p>
</footer>
	  </div>
  </body>
  </html>
