.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}


div.unknown_device {
   content:url(images/unknown.png);
   width:100px;
}
div.light_device {
   content:url(images/lighting.png);
   width:100px;
}
div.camera_device {
   content:url(images/027-webcam.png);
   width:100px;
}


div.message_holder {
	padding:10px;
	height:100%;
}

.w3-yeller {
background-color: yellow;
}

* {
  box-sizing: border-box;
}

body,html{
 height: 100%;
}

/* Style the header */
header {
  background-color: #FFF;
  padding: 30px;
  color: black;
  box-shadow:  0px 10px 5px lightgrey;
}

header .header-text {
	display:inline;
	font-size:75%;
	padding-left:50px;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


section {
   height: 100%;
}

#accordian {
	min-height: 600px;
}

section .nav-button {
	margin:20px;

}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/*V Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #336699;
  color: white;
  cursor: pointer;
  padding: 2px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 10px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}

.device-label {
box-shadow:none;
font-size:12px;
margin:5px;
}

.image-container {
padding:2px;margin:5px;position:relative;border:2px solid white;
}
