#
CONFIG_IDF_CMAKE=y
CONFIG_IDF_TARGET="esp32"
CONFIG_IDF_TARGET_ESP32=y
CONFIG_IDF_FIRMWARE_CHIP_ID=0x0000

#
# Application manager
#
CONFIG_APP_RETRIEVE_LEN_ELF_SHA=16
# end of Application manager

#
# Serial flasher config
#

# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
# end of Partition Table

#
# Compiler options
#
# CONFIG_COMPILER_OPTIMIZATION_DEBUG is not set
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# Heap memory debugging
#
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y
# end of Heap memory debugging

#
# Log
#

#
# Format
#
CONFIG_LOG_COLORS=y
# end of Format
# end of Log

#
# LWIP
#
CONFIG_LWIP_IRAM_OPTIMIZATION=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_NETBUF_RECVINFO=y
CONFIG_LWIP_IP4_REASSEMBLY=y
CONFIG_LWIP_IP6_REASSEMBLY=y

#
# TCP
#
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=5744
CONFIG_LWIP_TCP_WND_DEFAULT=5744
CONFIG_LWIP_TCP_SACK_OUT=y
CONFIG_LWIP_TCP_RTO_TIME=3000
# end of TCP
# end of LWIP

#
# mbedTLS
#
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=6144
CONFIG_MBEDTLS_DEBUG=y
# CONFIG_MBEDTLS_DEBUG_LEVEL_WARN is not set
# CONFIG_MBEDTLS_DEBUG_LEVEL_INFO is not set
CONFIG_MBEDTLS_DEBUG_LEVEL_DEBUG=y
# CONFIG_MBEDTLS_DEBUG_LEVEL_VERBOSE is not set
CONFIG_MBEDTLS_DEBUG_LEVEL=3

#
# Certificate Bundle
#
# CONFIG_MBEDTLS_CERTIFICATE_BUNDLE is not set
# end of Certificate Bundle

CONFIG_MBEDTLS_ECP_RESTARTABLE=y

#
# TLS Key Exchange Methods
#
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
# CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK is not set
# CONFIG_MBEDTLS_KEY_EXCHANGE_RSA is not set
# end of TLS Key Exchange Methods

CONFIG_MBEDTLS_SSL_PROTO_DTLS=y

#
# PThreads
#
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=32768
# end of PThreads

#
# Virtual file system
#
# CONFIG_VFS_SUPPRESS_SELECT_DEBUG_OUTPUT is not set
# CONFIG_VFS_SUPPORT_TERMIOS is not set
# end of Virtual file system
