accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8
accept-encoding: gzip, deflate, br
accept-language: en-GB,en;q=0.5
cookie: auth0=s%3ASuGKpPPRPsgYGFy1Lt2rxEaGcHM_wKpy.jsu%2FKCpaX4OrtimZ0sBNJ8YY%2FjeDgTaR0pI3bojOIDY; did=s%3Av0%3A8f49a340-494d-11ec-bb8b-c57d74a4869b%3A2b9a8182034024fca85e8227563d104a45663b15ab1df740cf6d9a920569de89.22ypAeUAeEKOm8UjiEWW8TsiZnBRW1wxfN24UTMZNvo
referer: https://cloud.cascoda.com/
sec-fetch-dest: iframe
sec-fetch-mode: navigate
sec-fetch-site: cross-site
upgrade-insecure-requests: 1
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36
