# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Create and publish docker images

on:
  push:
    branches:
      - 'master'
    tags:
      - "*"
  pull_request:
    branches:
      - master

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - name: cloud-server
            file: docker/apps/Dockerfile.cloud-server
            args: ""
            type: Release
          - name: cloud-server-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            args: "-DOC_DEBUG_ENABLED=ON"
            type: Debug
          - name: cloud-server-discovery-resource-observable
            file: docker/apps/Dockerfile.cloud-server
            args: "-DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON"
            type: Release
          - name: cloud-server-discovery-resource-observable-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            args: "-DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON"
            type: Debug
          - name: cloud-server-wot-unsecure-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            args: "-DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DPLGD_DEV_WOT_ENABLED=ON -DOC_WKCORE_ENABLED=ON -DOC_SECURITY_ENABLED=OFF -DOC_RESOURCE_ACCESS_IN_RFOTM_ENABLED=OFF"
            type: Debug
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: "true"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for docker image
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.name }}
          tags: |
            type=raw,enable={{is_default_branch}},value=vnext
            type=sha,enable={{is_default_branch}},prefix=vnext-,format=short
            type=ref,event=pr,prefix=vnext-pr,suffix=-{{sha}}
            type=ref,event=pr,prefix=vnext-pr
            type=ref,enable={{is_default_branch}},event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and publish cloud-server docker images
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          builder: ${{ steps.buildx.outputs.name }}
          file: ${{ matrix.file }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILD_ARGS=-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_RESOURCE_ACCESS_IN_RFOTM_ENABLED=ON ${{ matrix.args }}
            BUILD_TYPE=${{ matrix.type }}
