# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Run plgd/hub tests with cloud_server

on:
  push:

env:
  TEST_CLOUD_SERVER_IMAGE: ghcr.io/plgd-dev/hub/test-cloud-server:latest

jobs:
  plgd-hub-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: cloud-server-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=0 TSAN=0"
          - name: cloud-server-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=1 TSAN=0"
          - name: cloud-server-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=0 TSAN=1"
          - name: cloud-server-discovery-resource-observable-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=0 TSAN=0"
          - name: cloud-server-discovery-resource-observable-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=1 TSAN=0"
          - name: cloud-server-discovery-resource-observable-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=0 TSAN=1"
          - name: cloud-server-debug-rep-encoding-realloc
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=0 TSAN=0 REP_ENCODING_REALLOC=1 "
          - name: cloud-server-debug-rep-encoding-realloc-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=1 TSAN=0 REP_ENCODING_REALLOC=1 "
          - name: cloud-server-debug-rep-encoding-realloc-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OSCORE=0 ASAN=0 TSAN=1 REP_ENCODING_REALLOC=1 "
          - name: cloud-server-discovery-resource-observable-debug-rep-encoding-realloc
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=0 TSAN=0 REP_ENCODING_REALLOC=1"
          - name: cloud-server-discovery-resource-observable-debug-rep-encoding-realloc-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=1 TSAN=0 REP_ENCODING_REALLOC=1"
          - name: cloud-server-discovery-resource-observable-debug-rep-encoding-realloc-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "CLOUD=1 SECURE=1 CREATE=1 MNT=1 DEBUG=1 OICRES_OBSERVABLE=1 OSCORE=0 ASAN=0 TSAN=1 REP_ENCODING_REALLOC=1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build cloud server docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          build-args: |
            BUILD_ARGS=${{ matrix.args }}
          file: ${{ matrix.file }}
          tags: ${{ matrix.tag }}

      - name: Pull plgd hub tests image
        run: docker pull ${{ env.TEST_CLOUD_SERVER_IMAGE }}

      - name: Run cloud server container
        run: docker run --privileged -d --network=host -v `pwd`/data:/tmp --name ${{ matrix.name }} ${{ matrix.tag }} devsim-`hostname`

      - name: Run plgd hub tests image
        run: docker run --rm --network=host ${{ env.TEST_CLOUD_SERVER_IMAGE }}

      - name: Collect cloud server logs when the test fails
        if: ${{ failure() }}
        run: cat `pwd`/data/0.log

      - name: Collect sanitizers cloud server logs when the test fails
        if: ${{ failure() }}
        run: |
          if ls `pwd`/data/0.asan.log* 1> /dev/null 2>&1; then \
            sudo cat `pwd`/data/0.asan.log*; \
          fi
          if ls `pwd`/data/0.tsan.log* 1> /dev/null 2>&1; then \
            sudo cat `pwd`/data/0.tsan.log*; \
          fi

      - name: Remove cloud server container
        run: docker rm -f ${{ matrix.name }}
