# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Run plgd/device tests with cloud_server

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  TEST_CLOUD_SERVER_IMAGE: ghcr.io/plgd-dev/device/test-cloud-server:latest
  CERT_TOOL_IMAGE: ghcr.io/plgd-dev/hub/cert-tool:vnext
  CERT_PATH: .tmp/pki_certs

jobs:
  plgd-device-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: cloud-server-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_OSCORE_ENABLED=OFF"
            type: Debug
          - name: cloud-server-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_ASAN_ENABLED=ON"
            type: Debug
          - name: cloud-server-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_TSAN_ENABLED=ON"
            type: Debug

          - name: cloud-server-discovery-resource-observable-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_OSCORE_ENABLED=OFF"
            type: Debug
          - name: cloud-server-discovery-resource-observable-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_ASAN_ENABLED=ON"
            type: Debug
          - name: cloud-server-discovery-resource-observable-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_TSAN_ENABLED=ON"
            type: Debug

          - name: cloud-server-rep-realloc-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF"
            type: Debug
          - name: cloud-server-rep-realloc-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_ASAN_ENABLED=ON"
            type: Debug
          - name: cloud-server-rep-realloc-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_TSAN_ENABLED=ON"
            type: Debug

          - name: cloud-server-discovery-resource-observable-rep-realloc-debug
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF"
            type: Debug
          - name: cloud-server-discovery-resource-observable-rep-realloc-debug-asan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_ASAN_ENABLED=ON"
            type: Debug
          - name: cloud-server-discovery-resource-observable-rep-realloc-debug-tsan
            file: docker/apps/Dockerfile.cloud-server-debug
            tag: dbg
            args: "-DOC_COLLECTIONS_IF_CREATE_ENABLED=ON -DOC_MNT_ENABLED=ON -DOC_DEBUG_ENABLED=ON -DOC_DISCOVERY_RESOURCE_OBSERVABLE_ENABLED=ON -DOC_REPRESENTATION_REALLOC_ENCODING_ENABLED=ON -DOC_OSCORE_ENABLED=OFF -DOC_TSAN_ENABLED=ON"
            type: Debug

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build cloud server docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          file: ${{ matrix.file }}
          tags: ${{ matrix.tag }}
          build-args: |
            BUILD_ARGS=${{ matrix.args }}
            BUILD_TYPE=${{ matrix.type }}

      - name: Pull plgd device tests image
        run: docker pull ${{ env.TEST_CLOUD_SERVER_IMAGE }}

      - name: Setup environment
        run: |
          mkdir -p `pwd`/${{ env.CERT_PATH }}
          docker pull ${{ env.CERT_TOOL_IMAGE }}
          docker run --rm -v `pwd`/${{ env.CERT_PATH }}:/out ${{ env.CERT_TOOL_IMAGE }} --outCert=/out/cloudca.pem --outKey=/out/cloudcakey.pem --cert.subject.cn="ca" --cmd.generateRootCA
          docker run --rm -v `pwd`/${{ env.CERT_PATH }}:/out ${{ env.CERT_TOOL_IMAGE }} --signerCert=/out/cloudca.pem --signerKey=/out/cloudcakey.pem  --outCert=/out/intermediatecacrt.pem --outKey=/out/intermediatecakey.pem --cert.basicConstraints.maxPathLen=0 --cert.subject.cn="intermediateCA" --cmd.generateIntermediateCA
          docker run --rm -v `pwd`/${{ env.CERT_PATH }}:/out ${{ env.CERT_TOOL_IMAGE }} --signerCert=/out/intermediatecacrt.pem --signerKey=/out/intermediatecakey.pem --outCert=/out/mfgcrt.pem --outKey=/out/mfgkey.pem --cert.san.domain=localhost --cert.san.ip=127.0.0.1 --cert.subject.cn="mfg" --cmd.generateCertificate
          sudo chmod -R 0777 ${{ env.CERT_PATH }}

      - name: Run cloud server container
        run: docker run --privileged -d --network=host -v `pwd`/${{ env.CERT_PATH }}:/pki_certs -v `pwd`/data:/tmp --name ${{ matrix.name }} ${{ matrix.tag }} devsim-`hostname`

      - name: Run plgd device tests image
        run: docker run --rm --network=host -v `pwd`/${{ env.CERT_PATH }}:/pki_certs ${{ env.TEST_CLOUD_SERVER_IMAGE }} -test.parallel 1 -test.v

      - name: Collect cloud server logs when the test fails
        if: ${{ failure() }}
        run: cat `pwd`/data/0.log

      - name: Collect sanitizers cloud server logs when the test fails
        if: ${{ failure() }}
        run: |
          if ls `pwd`/data/0.asan.log* 1> /dev/null 2>&1; then \
            sudo cat `pwd`/data/0.asan.log*; \
          fi
          if ls `pwd`/data/0.tsan.log* 1> /dev/null 2>&1; then \
            sudo cat `pwd`/data/0.tsan.log*; \
          fi

      - name: Remove cloud server container
        run: docker rm -f ${{ matrix.name }}
